<template>
	<div class="m-auto">
		<div class="card shadow ">
			<div class="card-header border-0 ">
				<div class="row align-items-center ">
					<div class="col">
						<p class="text-primary" style="font-size: 2rem;margin-bottom:0">Welcome to User Activity Board</p>
					</div>
				</div>
				<div class="row mt-3 ">
					<div class="col text-right p-2">
						<p style="color: azure;">click here to show user list</p>
					</div>
					<div class="col text-left">
						<router-link :to="{name:'UserList'}">
							<b-button variant="outline-primary">click here</b-button>
						</router-link>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default{
		data(){
			return{

			}
		}
	}
</script>