<template>
	<div class="m-auto">
		<div class="row ">
			<div class="col">
				<p class="text-primary" style="font-size: 2rem;margin-bottom:0">User List</p>
			</div>
		</div>
		<div class="row mt-3 ">
			<div class="col-4 m-auto">
				<b-list-group style="border-radius:1.25rem">
					<b-list-group-item style="background-color: #000;border: 1px solid rgb(204 189 189 / 13%);" :active="index==active_index" href="#" @click="user_function(data,index)" v-for="(data,index) in members" :key="index">
						{{data.real_name}}
					</b-list-group-item>
				</b-list-group>
			</div>
		</div>
		<b-modal center header-text-variant="light" header-bg-variant="dark" :hide-footer="true" body-bg-variant="dark" body-text-variant="light"  size="xl" id="modal-center" v-model="openModal"  >
			<user-modal :user_data="selected_user"></user-modal>
		</b-modal>
	</div>
</template>
<style type="text/css">
	.list-group-item-action {
		width: 100%;
		color: #74797d;
		text-align: inherit;
	}
	.modal-header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 1rem 1rem;
		border-bottom: 0px #dee2e6;
		border-top-left-radius: calc(.3rem - 1px);
		border-top-right-radius: calc(.3rem - 1px);
	}
</style>
<script>
import UserModal from '../components/UserModal.vue'
	export default{
		data(){
			return{
				selected_user:null,
				openModal:false,
				active_index:null,
				"ok": true,
				members:null,
			}
		},
		components:{
			UserModal
		},
		created:function(){
			this.get_user_list();
		},
		mounted:function(){
			if(this.members!=null){
				this.get_user_list();
			}
		},
		methods:{
			get_user_list:function(){
				this.$loading(true)
				window.axios.get('https://9e0ji6veac.execute-api.us-east-1.amazonaws.com/default/sk_user_flow',{}).
				then((response)=>{
					console.log("response",response);
					this.members = response.data.members;
					this.$loading(false)
				})
				.catch((err)=>{
					console.log(err,err)
					this.$loading(false)
				})

			},
			user_function:function(data,index){
				this.active_index = index;
				this.selected_user = data;
				this.openModal = true;

			}
		}
	}
</script>