<template>
	<div>
		<div class="row m-auto">
			<div v-if="show_calendar" class="col">
				<VueCtkDateTimePicker noShortcuts dark range inline  format="MMM D YYYY hh:mm a" v-model="date"></VueCtkDateTimePicker>
			</div>
			<div class="col">
				<b-card-group > 
					<b-card class="text-center" :header="user_data.real_name + ' Activity List'" bg-variant="info" header-text-variant="dark">
						<b-list-group >
							<b-list-group-item  style="background-color: #28a745;border: 1px solid rgb(41 41 41);color: #d4d2d2;"  href="#" v-for="(data,index) in show_calendar?filter_data:user_data.activity_periods" :key="index">
								{{data.start_time }}  to  {{ data.end_time}} 
							</b-list-group-item>
							<b-list-group-item href="#" style="background-color: #dc3545;border: 1px solid rgb(41 41 41);color: #212529;" v-if="
							filter_data.length ==0 && show_calendar">{{msg}}
							</b-list-group-item>
							<b-list-group-item v-if="!show_calendar" style="background-color: #000;border: 1px solid rgb(0 114 125);color: #c4cfd8;" href="#" class="text-center" @click="show_all_activity">{{'Show All'}}</b-list-group-item>
						</b-list-group>
					</b-card>
				</b-card-group>
			</div>
		</div>
	</div>
</template>
<script>
	export default{
		data(){
			return{
				msg:"Please Select Date To Show Activity",
				show_calendar:false,
				date:{
					end:null,
					shortcut:undefined,
					start:null
				},
				time_stamp:null,
				damy_date:null

			}
		},
		props:['user_data'],
		created:function(){
			this.date.start = this.user_data.activity_periods[0].start_time
			this.date.end = this.user_data.activity_periods[0].end_time
		},
		methods:{
			show_all_activity:function(){
				this.show_calendar = true;
			}
		},
		computed:{
			filter_data:function(){
				if(this.date.start != null || this.date.end !=null){
					var cal_start_date_arr = this.date.start.split(' ');
					var cal_end_date_arr = this.date.end==null?[]:this.date.end.split(' ');
					var activity = [] ;
					this.user_data.activity_periods.forEach((item)=>{
						var ac_start_date_arr = item.start_time.split(' ');
						var ac_end_date_arr = item.end_time.split(' ');
						if(ac_start_date_arr.includes(cal_start_date_arr[2]) || ac_end_date_arr.includes(cal_end_date_arr[2])){
							if(ac_start_date_arr.includes(cal_start_date_arr[0]) || ac_end_date_arr.includes(cal_end_date_arr[0])){
									if(ac_start_date_arr[1]==cal_start_date_arr[1]){
										console.log("1")
										activity.push(item)
									}
									console.log("ac_start_date_arr[1]",ac_start_date_arr[1],cal_start_date_arr[1],ac_start_date_arr[1]>cal_start_date_arr[1])
										console.log("cal_end_date_arr[1][1]",ac_start_date_arr[1],cal_end_date_arr[1],ac_start_date_arr[1]<=cal_end_date_arr[1])
									if(ac_start_date_arr[1]>cal_start_date_arr[1] && Number(ac_start_date_arr[1])<=Number(cal_end_date_arr[1])){
											console.log("2")
											activity.push(item)
									}else{
										this.msg = "Activity Not Found";
									}
								}else{
									this.msg = "Activity Not Found";
								}
							}else{
								this.msg = "Activity Not Found";
							}
						})
						return activity

					}else{
						return []
					}

				}
			}
		}
</script>